{
  "openapi": "3.0.0",
  "info": {
    "description": "Specification of the Socket API endpoints",
    "title": "API Endpoints",
    "version": "0"
  },
  "servers": [
    {
      "url": "https://api.socket.dev/v0"
    }
  ],
  "tags": [
    {
      "name": "Packages"
    },
    {
      "name": "Dependencies"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "Full Scans"
    },
    {
      "name": "Diff Scans"
    },
    {
      "name": "Triage"
    },
    {
      "name": "Repos"
    },
    {
      "name": "Repo Labels"
    },
    {
      "name": "Threat Feed"
    },
    {
      "name": "Org Snapshots"
    },
    {
      "name": "Security Policy"
    },
    {
      "name": "License Policy"
    },
    {
      "name": "Org Settings"
    },
    {
      "name": "Audit Log"
    },
    {
      "name": "API Tokens"
    },
    {
      "name": "Metadata"
    },
    {
      "name": "Deprecated"
    }
  ],
  "components": {
    "requestBodies": {},
    "responses": {
      "SocketBadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "details": {
                      "type": "object",
                      "description": "",
                      "default": null,
                      "nullable": true
                    }
                  },
                  "required": [
                    "details",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Bad request"
      },
      "SocketUnauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "details": {
                      "type": "object",
                      "description": "",
                      "default": null,
                      "nullable": true
                    }
                  },
                  "required": [
                    "details",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Unauthorized"
      },
      "SocketForbidden": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "details": {
                      "type": "object",
                      "description": "",
                      "default": null,
                      "nullable": true
                    }
                  },
                  "required": [
                    "details",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Insufficient max_quota for API method"
      },
      "SocketNotFoundResponse": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "details": {
                      "type": "object",
                      "description": "",
                      "default": null,
                      "nullable": true
                    }
                  },
                  "required": [
                    "details",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Resource not found"
      },
      "SocketTooManyRequestsResponse": {
        "description": "Insufficient quota for API route",
        "headers": {
          "Retry-After": {
            "description": "Retry contacting the endpoint *at least* after seconds.\nSee https://tools.ietf.org/html/rfc7231#section-7.1.3",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "details": {
                      "type": "object",
                      "description": "",
                      "default": null,
                      "nullable": true
                    }
                  },
                  "required": [
                    "details",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "SocketInternalServerError": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "details": {
                      "type": "object",
                      "description": "",
                      "default": null,
                      "nullable": true
                    }
                  },
                  "required": [
                    "details",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Internal server error"
      },
      "SocketGone": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "details": {
                      "type": "object",
                      "description": "",
                      "default": null,
                      "nullable": true
                    }
                  },
                  "required": [
                    "details",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Gone"
      }
    },
    "schemas": {
      "BatchPurlStreamSchema": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/SocketArtifact"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "_type": {
                "type": "string",
                "enum": [
                  "purlError"
                ]
              },
              "value": {
                "$ref": "#/components/schemas/PurlErrorSchema"
              }
            },
            "required": [
              "_type",
              "value"
            ]
          }
        ]
      },
      "SocketBatchPURLFetch": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketBatchPURLRequest"
            },
            "description": ""
          }
        },
        "required": [
          "components"
        ]
      },
      "SocketArtifact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SocketPURL"
          },
          {
            "$ref": "#/components/schemas/SocketArtifactLink"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "$ref": "#/components/schemas/SocketId"
              },
              "author": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "description": "List of package authors or maintainers"
              },
              "size": {
                "type": "number",
                "description": "Total size of the package artifact in bytes",
                "default": 0
              },
              "repositoryType": {
                "type": "string",
                "description": "Hugging Face model, dataset, or space type",
                "default": ""
              },
              "alerts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SocketAlert"
                },
                "description": ""
              },
              "score": {
                "$ref": "#/components/schemas/SocketScore"
              },
              "patch": {
                "$ref": "#/components/schemas/SocketArtifactPatch"
              },
              "inputPurl": {
                "type": "string",
                "description": "Original unmodified PURL input string before normalization",
                "default": ""
              },
              "batchIndex": {
                "type": "integer",
                "description": "Deprecated: Always 0. Previously used for batch ordering but replaced by inputPurl for better tracking.",
                "default": 0
              },
              "license": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "licenseDetails": {
                "$ref": "#/components/schemas/LicenseDetails"
              },
              "licenseAttrib": {
                "$ref": "#/components/schemas/SAttrib1_N"
              }
            }
          }
        ]
      },
      "SocketDiffArtifact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SocketPURL"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "diffType": {
                "$ref": "#/components/schemas/SocketDiffArtifactType"
              },
              "id": {
                "$ref": "#/components/schemas/SocketId"
              },
              "author": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "description": "List of package authors or maintainers"
              },
              "base": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SocketArtifactLink"
                },
                "description": "Artifact links from the base/before state"
              },
              "capabilities": {
                "$ref": "#/components/schemas/Capabilities"
              },
              "head": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SocketArtifactLink"
                },
                "description": "Artifact links from the head/after state"
              },
              "qualifiers": {
                "$ref": "#/components/schemas/Qualifiers"
              },
              "size": {
                "type": "number",
                "description": "Total size of the package artifact in bytes",
                "default": 0
              },
              "license": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "licenseDetails": {
                "$ref": "#/components/schemas/LicenseDetails"
              },
              "licenseAttrib": {
                "$ref": "#/components/schemas/SAttrib1_N"
              },
              "score": {
                "$ref": "#/components/schemas/SocketScore"
              },
              "alerts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SocketAlert"
                },
                "description": ""
              }
            },
            "required": [
              "diffType"
            ]
          }
        ]
      },
      "CDXManifestSchema": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "bomFormat": {
            "type": "string",
            "description": "",
            "default": "CycloneDX"
          },
          "specVersion": {
            "type": "string",
            "description": "",
            "default": "1.5"
          },
          "serialNumber": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "version": {
            "type": "number",
            "description": "",
            "default": 0
          },
          "metadata": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "timestamp": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "tools": {
                "type": "object",
                "additionalProperties": false,
                "description": "",
                "properties": {
                  "components": {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/CDXComponentSchema"
                        },
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "author": {
                              "type": "string",
                              "description": "",
                              "default": "Socket"
                            },
                            "authors": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "description": "",
                                "default": "Socket"
                              },
                              "description": ""
                            },
                            "publisher": {
                              "type": "string",
                              "description": "",
                              "default": "Socket"
                            }
                          }
                        }
                      ]
                    },
                    "description": ""
                  }
                },
                "required": [
                  "components"
                ]
              },
              "authors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "",
                      "default": "Socket"
                    }
                  },
                  "required": [
                    "name"
                  ]
                },
                "description": ""
              },
              "supplier": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "lifecycles": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "phase": {
                      "type": "string",
                      "description": "",
                      "default": "build"
                    }
                  },
                  "required": [
                    "phase"
                  ]
                },
                "description": ""
              },
              "component": {
                "$ref": "#/components/schemas/CDXComponentSchema"
              },
              "properties": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "value": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "name",
                    "value"
                  ]
                },
                "description": ""
              }
            },
            "required": [
              "authors",
              "component",
              "lifecycles",
              "timestamp",
              "tools"
            ]
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CDXComponentSchema"
            },
            "description": ""
          },
          "dependencies": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "ref": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "dependsOn": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  },
                  "description": ""
                }
              },
              "required": [
                "ref"
              ]
            },
            "description": ""
          },
          "vulnerabilities": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "ref": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "id": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "source": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "url": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "description": ""
                },
                "ratings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "source": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "url": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "description": ""
                      },
                      "score": {
                        "type": "number",
                        "description": "",
                        "default": 0
                      },
                      "severity": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "method": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "vector": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      }
                    },
                    "description": ""
                  },
                  "description": ""
                },
                "cwes": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "description": "",
                    "default": 0
                  },
                  "description": ""
                },
                "description": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "detail": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "recommendation": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "advisories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "title": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "description": ""
                },
                "created": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "published": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "updated": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "affects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "ref": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "versions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "version": {
                              "type": "string",
                              "description": "",
                              "default": ""
                            },
                            "status": {
                              "type": "string",
                              "description": "",
                              "default": ""
                            }
                          },
                          "description": ""
                        },
                        "description": ""
                      }
                    },
                    "required": [
                      "ref"
                    ]
                  },
                  "description": ""
                },
                "analysis": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "justification": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "response": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "description": ""
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "firstIssued": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "description": ""
                }
              },
              "required": [
                "id",
                "ref"
              ]
            },
            "description": ""
          }
        },
        "required": [
          "bomFormat",
          "components",
          "dependencies",
          "metadata",
          "serialNumber",
          "specVersion",
          "version"
        ]
      },
      "SPDXManifestSchema": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "spdxVersion": {
            "type": "string",
            "description": "",
            "default": "SPDX-2.3"
          },
          "dataLicense": {
            "type": "string",
            "description": "",
            "default": "CC0-1.0"
          },
          "SPDXID": {
            "type": "string",
            "description": "",
            "default": "SPDXRef-DOCUMENT"
          },
          "name": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "documentNamespace": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "creationInfo": {
            "type": "object",
            "additionalProperties": false,
            "description": "",
            "properties": {
              "created": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "creators": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "description": ""
              }
            },
            "required": [
              "created",
              "creators"
            ]
          },
          "documentDescribes": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": ""
          },
          "packages": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "name": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "SPDXID": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "versionInfo": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "packageFileName": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "description": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "primaryPackagePurpose": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "downloadLocation": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "filesAnalyzed": {
                  "type": "boolean",
                  "default": false,
                  "description": ""
                },
                "homepage": {
                  "type": "string",
                  "description": "",
                  "default": "NOASSERTION"
                },
                "licenseDeclared": {
                  "type": "string",
                  "description": "",
                  "default": "NOASSERTION"
                },
                "externalRefs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "",
                    "properties": {
                      "referenceCategory": {
                        "type": "string",
                        "description": "",
                        "default": "PACKAGE-MANAGER"
                      },
                      "referenceType": {
                        "type": "string",
                        "description": "",
                        "default": "purl"
                      },
                      "referenceLocator": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      }
                    },
                    "required": [
                      "referenceCategory",
                      "referenceLocator",
                      "referenceType"
                    ]
                  },
                  "description": ""
                },
                "checksums": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "",
                    "properties": {
                      "algorithm": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "checksumValue": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      }
                    },
                    "required": [
                      "algorithm",
                      "checksumValue"
                    ]
                  },
                  "description": ""
                }
              },
              "required": [
                "SPDXID",
                "externalRefs",
                "filesAnalyzed",
                "homepage",
                "licenseDeclared",
                "name",
                "packageFileName",
                "versionInfo"
              ]
            },
            "description": ""
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "spdxElementId": {
                  "type": "string",
                  "description": "",
                  "default": "SPDXRef-DOCUMENT"
                },
                "relatedSpdxElement": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "relationshipType": {
                  "type": "string",
                  "description": "",
                  "default": "DESCRIBES"
                }
              },
              "required": [
                "relatedSpdxElement",
                "relationshipType",
                "spdxElementId"
              ]
            },
            "description": ""
          }
        },
        "required": [
          "SPDXID",
          "creationInfo",
          "dataLicense",
          "documentDescribes",
          "documentNamespace",
          "name",
          "packages",
          "relationships",
          "spdxVersion"
        ]
      },
      "LicenseAllowListRequest": {
        "type": "object",
        "description": "",
        "default": null
      },
      "SStoredLicensePolicy": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "allow": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": "",
            "nullable": true
          },
          "warn": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": "",
            "nullable": true
          },
          "monitor": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": "",
            "nullable": true
          },
          "deny": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": "",
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": "",
            "nullable": true
          }
        },
        "required": [
          "allow",
          "deny",
          "monitor",
          "options",
          "warn"
        ]
      },
      "Capabilities": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "env": {
            "type": "boolean",
            "default": false,
            "description": "Package can read or modify environment variables"
          },
          "eval": {
            "type": "boolean",
            "default": false,
            "description": "Package uses dynamic code evaluation (eval, Function constructor, etc.)"
          },
          "fs": {
            "type": "boolean",
            "default": false,
            "description": "Package can read or write to the file system"
          },
          "net": {
            "type": "boolean",
            "default": false,
            "description": "Package can make network requests or create servers"
          },
          "shell": {
            "type": "boolean",
            "default": false,
            "description": "Package can execute shell commands or spawn processes"
          },
          "unsafe": {
            "type": "boolean",
            "default": false,
            "description": "Package uses unsafe or dangerous operations that could compromise security"
          }
        },
        "required": [
          "env",
          "eval",
          "fs",
          "net",
          "shell",
          "unsafe"
        ]
      },
      "Qualifiers": {},
      "SocketScore": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "license": {
            "type": "number",
            "description": "Score from 0.0 to 1.0 evaluating license permissiveness and compatibility",
            "default": 0
          },
          "maintenance": {
            "type": "number",
            "description": "Score from 0.0 to 1.0 evaluating project maintenance health and activity",
            "default": 0
          },
          "overall": {
            "type": "number",
            "description": "Combined score from 0.0 to 1.0 representing overall package health and safety",
            "default": 0
          },
          "quality": {
            "type": "number",
            "description": "Score from 0.0 to 1.0 evaluating code quality, testing, and documentation",
            "default": 0
          },
          "supplyChain": {
            "type": "number",
            "description": "Score from 0.0 to 1.0 evaluating supply chain security and provenance",
            "default": 0
          },
          "vulnerability": {
            "type": "number",
            "description": "Score from 0.0 to 1.0 based on known vulnerabilities and their severity",
            "default": 0
          }
        },
        "required": [
          "license",
          "maintenance",
          "overall",
          "quality",
          "supplyChain",
          "vulnerability"
        ]
      },
      "SocketManifestReference": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "file": {
            "type": "string",
            "description": "Path to the manifest file (e.g., package.json, pom.xml)",
            "default": ""
          },
          "start": {
            "type": "integer",
            "description": "Starting line or position in the manifest file",
            "default": 0
          },
          "end": {
            "type": "integer",
            "description": "Ending line or position in the manifest file",
            "default": 0
          }
        },
        "required": [
          "file"
        ]
      },
      "SocketId": {
        "type": "string",
        "description": "",
        "default": ""
      },
      "LicensePolicy": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "allow": {
            "$ref": "#/components/schemas/LicenseAllowListElabbed"
          },
          "warn": {
            "$ref": "#/components/schemas/LicenseAllowListElabbed"
          },
          "monitor": {
            "$ref": "#/components/schemas/LicenseAllowListElabbed"
          }
        },
        "required": [
          "allow",
          "monitor",
          "warn"
        ]
      },
      "LicenseAllowList": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "strings": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": ""
          }
        },
        "required": [
          "strings"
        ]
      },
      "SLicenseMetaRes": {
        "type": "object",
        "description": "",
        "default": null
      },
      "SLicenseMetaReq": {
        "type": "object",
        "description": "",
        "default": null
      },
      "SocketReport": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "id": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "healthy": {
            "type": "boolean",
            "default": false,
            "description": ""
          },
          "issues": {
            "$ref": "#/components/schemas/SocketIssueList"
          },
          "score": {
            "type": "object",
            "additionalProperties": false,
            "description": "",
            "properties": {
              "avgSupplyChainRisk": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "avgQuality": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "avgMaintenance": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "avgVulnerability": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "avgLicense": {
                "type": "number",
                "description": "",
                "default": 0
              }
            },
            "required": [
              "avgLicense",
              "avgMaintenance",
              "avgQuality",
              "avgSupplyChainRisk",
              "avgVulnerability"
            ]
          },
          "url": {
            "type": "string",
            "description": "",
            "default": ""
          }
        },
        "required": [
          "healthy",
          "id",
          "issues",
          "score",
          "url"
        ]
      },
      "SocketIssueList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SocketIssue"
        },
        "description": ""
      },
      "SocketPackageScore": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "supplyChainRisk": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "quality": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "maintenance": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "vulnerability": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "license": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "miscellaneous": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "depscore": {
            "type": "number",
            "description": "",
            "default": 0
          }
        },
        "required": [
          "depscore",
          "license",
          "maintenance",
          "miscellaneous",
          "quality",
          "supplyChainRisk",
          "vulnerability"
        ]
      },
      "PurlErrorSchema": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "error": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "inputPurl": {
            "type": "string",
            "description": "",
            "default": ""
          }
        },
        "required": [
          "error",
          "inputPurl"
        ]
      },
      "SocketBatchPURLRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "purl": {
            "type": "string",
            "description": "",
            "default": ""
          }
        },
        "required": [
          "purl"
        ]
      },
      "SocketPURL": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SocketPURL_Type"
          },
          "namespace": {
            "type": "string",
            "description": "Package namespace or scope, such as npm organizations (@angular), Maven groupIds, or Docker image owners",
            "default": ""
          },
          "name": {
            "type": "string",
            "description": "Package name within its ecosystem",
            "default": ""
          },
          "version": {
            "type": "string",
            "description": "Package version string",
            "default": ""
          },
          "subpath": {
            "type": "string",
            "description": "Path within the package to a specific file or directory, used to reference nested components",
            "default": ""
          },
          "release": {
            "type": "string",
            "description": "Package-specific release identifier, such as PyPI's artifact ID or the specific build/release version",
            "default": ""
          }
        },
        "required": [
          "type"
        ]
      },
      "SocketAlert": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "key": {
            "type": "string",
            "description": "Unique identifier for this alert instance, used for deduplication and tracking across scans",
            "default": ""
          },
          "type": {
            "type": "string",
            "description": "Alert type identifier referencing the alert type definition",
            "default": ""
          },
          "severity": {
            "$ref": "#/components/schemas/SocketIssueSeverity"
          },
          "category": {
            "$ref": "#/components/schemas/SocketCategory"
          },
          "file": {
            "type": "string",
            "description": "File path where this alert was detected",
            "default": ""
          },
          "start": {
            "type": "integer",
            "description": "Starting position of the alert in the file",
            "default": 0
          },
          "end": {
            "type": "integer",
            "description": "Ending position of the alert in the file",
            "default": 0
          },
          "props": {
            "type": "object",
            "description": "Additional alert-specific properties and metadata that vary by alert type",
            "default": null
          },
          "action": {
            "type": "string",
            "description": "Action to take for this alert (e.g., error, warn, ignore)",
            "default": ""
          },
          "actionSource": {
            "type": "object",
            "additionalProperties": false,
            "description": "",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of action source (e.g., policy, override)",
                "default": ""
              },
              "candidates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type of action candidate",
                      "default": ""
                    },
                    "action": {
                      "type": "string",
                      "description": "Proposed action for this candidate",
                      "default": ""
                    },
                    "actionPolicyIndex": {
                      "type": "integer",
                      "description": "Index of the policy rule for this candidate",
                      "default": 0
                    },
                    "repoLabelId": {
                      "type": "string",
                      "description": "Repository label ID associated with this candidate",
                      "default": ""
                    }
                  },
                  "required": [
                    "action",
                    "actionPolicyIndex",
                    "repoLabelId",
                    "type"
                  ]
                },
                "description": ""
              }
            },
            "required": [
              "candidates",
              "type"
            ]
          },
          "actionPolicyIndex": {
            "type": "integer",
            "description": "Index of the policy rule that triggered this action, for traceability to security policies",
            "default": 0
          },
          "fix": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of fix available (e.g., upgrade, remove, cve)",
                "default": ""
              },
              "description": {
                "type": "string",
                "description": "Human-readable description of how to fix this issue",
                "default": ""
              },
              "patch": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Unique identifier for this patch",
                      "default": ""
                    },
                    "tier": {
                      "type": "string",
                      "enum": [
                        "free",
                        "paid"
                      ],
                      "description": "Access tier required for this patch (free or paid)",
                      "default": "free"
                    },
                    "deprecated": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if this patch is deprecated and should not be used"
                    }
                  },
                  "required": [
                    "tier",
                    "uuid"
                  ]
                },
                "description": "Patches available to fix this specific alert"
              }
            },
            "required": [
              "description",
              "type"
            ]
          },
          "patch": {
            "$ref": "#/components/schemas/SocketPatch"
          },
          "reachability": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "head": {
                "$ref": "#/components/schemas/ReachabilityResult"
              },
              "base": {
                "$ref": "#/components/schemas/ReachabilityResult"
              }
            },
            "description": ""
          },
          "subType": {
            "type": "string",
            "description": "Generic alert sub-type",
            "default": ""
          }
        },
        "required": [
          "key",
          "type"
        ]
      },
      "SocketArtifactPatch": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "appliedPatch": {
            "$ref": "#/components/schemas/SocketPatch"
          },
          "availablePatches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketPatch"
            },
            "description": "List of available patches that can be applied to fix vulnerabilities"
          }
        },
        "description": ""
      },
      "LicenseDetails": {
        "type": "array",
        "items": {
          "type": "object",
          "additionalProperties": false,
          "description": "",
          "properties": {
            "spdxDisj": {
              "type": "string",
              "description": "SPDX license expression in disjunctive normal form (e.g., '(MIT OR Apache-2.0)')",
              "default": ""
            },
            "authors": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "description": "List of authors found in the license text"
            },
            "errorData": {
              "type": "string",
              "description": "Error details if license parsing failed",
              "default": ""
            },
            "provenance": {
              "type": "string",
              "description": "Source where this license information was detected (e.g., 'package.json', 'LICENSE file', 'README')",
              "default": ""
            },
            "filepath": {
              "type": "string",
              "description": "Path to the file containing this license information",
              "default": ""
            },
            "match_strength": {
              "type": "number",
              "description": "Confidence score from 0.0 to 1.0 indicating how well the detected license matches the source text",
              "default": 0
            }
          },
          "required": [
            "authors",
            "errorData",
            "filepath",
            "match_strength",
            "provenance",
            "spdxDisj"
          ]
        },
        "description": ""
      },
      "SAttrib1_N": {
        "type": "array",
        "items": {
          "type": "object",
          "additionalProperties": false,
          "description": "",
          "properties": {
            "attribText": {
              "type": "string",
              "description": "Full text of the license attribution or copyright notice found in the package",
              "default": ""
            },
            "attribData": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": false,
                "description": "",
                "properties": {
                  "purl": {
                    "type": "string",
                    "description": "Package URL this attribution applies to",
                    "default": ""
                  },
                  "foundInFilepath": {
                    "type": "string",
                    "description": "File path where this attribution was found",
                    "default": ""
                  },
                  "spdxExpr": {
                    "type": "string",
                    "description": "SPDX license expression parsed from the attribution text",
                    "default": ""
                  },
                  "foundAuthors": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "description": "Authors mentioned in this attribution"
                  }
                },
                "required": [
                  "foundAuthors",
                  "foundInFilepath",
                  "purl",
                  "spdxExpr"
                ]
              },
              "description": ""
            }
          },
          "required": [
            "attribData",
            "attribText"
          ]
        },
        "description": ""
      },
      "SocketArtifactLink": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "direct": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if this is a direct dependency (not transitive)"
          },
          "dev": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if this is a development-only dependency not used in production"
          },
          "dead": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if this package is deprecated, abandoned, or no longer maintained"
          },
          "manifestFiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketManifestReference"
            },
            "description": ""
          },
          "topLevelAncestors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketId"
            },
            "description": "IDs of the root-level packages in the dependency tree that depend on this package"
          },
          "dependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketId"
            },
            "description": "IDs of packages that this package directly depends on"
          },
          "alertPriorities": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "result": {
                  "type": "integer",
                  "description": "Computed priority score for this alert",
                  "default": 0
                },
                "components": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "isFixable": {
                      "type": "object",
                      "additionalProperties": false,
                      "description": "",
                      "properties": {
                        "result": {
                          "type": "number",
                          "description": "Contribution of fixability to the priority score",
                          "default": 0
                        },
                        "value": {
                          "type": "boolean",
                          "default": false,
                          "description": "Whether a fix is available for this alert"
                        }
                      },
                      "required": [
                        "result",
                        "value"
                      ]
                    },
                    "isReachable": {
                      "type": "object",
                      "additionalProperties": false,
                      "description": "",
                      "properties": {
                        "result": {
                          "type": "number",
                          "description": "Contribution of reachability to the priority score",
                          "default": 0
                        },
                        "value": {
                          "type": "boolean",
                          "default": false,
                          "description": "Whether the vulnerable code is reachable"
                        },
                        "specificValue": {
                          "type": "string",
                          "description": "Specific reachability type value such as 'unreachable', 'maybe_reachable', or 'reachable'",
                          "default": ""
                        }
                      },
                      "required": [
                        "result",
                        "specificValue",
                        "value"
                      ]
                    },
                    "severity": {
                      "type": "object",
                      "additionalProperties": false,
                      "description": "",
                      "properties": {
                        "result": {
                          "type": "number",
                          "description": "Contribution of severity to the priority score",
                          "default": 0
                        },
                        "value": {
                          "type": "integer",
                          "description": "Numeric severity level",
                          "default": 0
                        }
                      },
                      "required": [
                        "result",
                        "value"
                      ]
                    }
                  },
                  "required": [
                    "isFixable",
                    "isReachable",
                    "severity"
                  ]
                },
                "formula": {
                  "type": "string",
                  "description": "Formula used to calculate the priority score",
                  "default": ""
                }
              },
              "required": [
                "result"
              ]
            },
            "properties": {},
            "description": "Computed priority scores for each alert type based on severity, reachability, and fixability factors"
          },
          "artifact": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SocketPURL"
              },
              {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/SocketId"
                  }
                },
                "required": [
                  "id"
                ]
              }
            ]
          },
          "alertKeysToReachabilityTypes": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "description": ""
            },
            "properties": {},
            "description": "Deprecated: mapping of alert keys to arrays of reachability types found across different manifest files or code locations. This field is derived from alertKeysToReachabilitySummaries for backward compatibility; use that property instead."
          },
          "alertKeysToReachabilitySummaries": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": false,
                "description": "",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  },
                  "hash": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  }
                },
                "required": [
                  "hash",
                  "type"
                ]
              },
              "description": ""
            },
            "properties": {},
            "description": "Mapping of alert keys to arrays of reachability summaries. Each summary contains a reachability type and a hash pointing to detailed analysis data (call stacks, file locations, confidence scores). Used for efficient storage and retrieval of comprehensive reachability analysis results without duplicating large analysis payloads."
          }
        },
        "description": ""
      },
      "SocketDiffArtifactType": {
        "type": "string",
        "enum": [
          "added",
          "removed",
          "updated",
          "replaced",
          "unchanged"
        ],
        "description": "Type of change detected for this artifact in the diff",
        "default": "unchanged"
      },
      "CDXComponentSchema": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "author": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "publisher": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "group": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "name": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "version": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "description": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "scope": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "hashes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "alg": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "content": {
                  "type": "string",
                  "description": "",
                  "default": ""
                }
              },
              "required": [
                "alg",
                "content"
              ]
            },
            "description": ""
          },
          "licenses": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "expression": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "license": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "url": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "description": ""
                }
              },
              "description": ""
            },
            "description": ""
          },
          "purl": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "externalReferences": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "url": {
                  "type": "string",
                  "description": "",
                  "default": ""
                }
              },
              "required": [
                "type",
                "url"
              ]
            },
            "description": ""
          },
          "type": {
            "type": "string",
            "description": "",
            "default": "application"
          },
          "bom-ref": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "evidence": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "identity": {
                "type": "object",
                "additionalProperties": false,
                "description": "",
                "properties": {
                  "field": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  },
                  "confidence": {
                    "type": "number",
                    "description": "",
                    "default": 0
                  },
                  "methods": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "description": "",
                      "properties": {
                        "technique": {
                          "type": "string",
                          "description": "",
                          "default": ""
                        },
                        "confidence": {
                          "type": "number",
                          "description": "",
                          "default": 0
                        },
                        "value": {
                          "type": "string",
                          "description": "",
                          "default": ""
                        }
                      },
                      "required": [
                        "confidence",
                        "technique",
                        "value"
                      ]
                    },
                    "description": ""
                  }
                },
                "required": [
                  "confidence",
                  "field",
                  "methods"
                ]
              },
              "occurrences": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "location": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "location"
                  ]
                },
                "description": ""
              }
            },
            "required": [
              "identity"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": ""
          },
          "properties": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "value": {
                  "type": "string",
                  "description": "",
                  "default": ""
                }
              },
              "required": [
                "name",
                "value"
              ]
            },
            "description": ""
          },
          "cryptoProperties": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "assetType": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "algorithmProperties": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "executionEnvironment": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "implementationPlatform": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "executionEnvironment",
                    "implementationPlatform"
                  ]
                }
              },
              "required": [
                "algorithmProperties",
                "assetType"
              ]
            },
            "description": ""
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CDXComponentSchema"
            },
            "description": ""
          }
        },
        "required": [
          "bom-ref",
          "group",
          "name",
          "purl",
          "type",
          "version"
        ]
      },
      "LicenseAllowListElabbed": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "strings": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": ""
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": ""
          },
          "packageURLs": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": ""
          },
          "disjs": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "description": ""
          }
        },
        "required": [
          "classes",
          "disjs",
          "packageURLs",
          "strings"
        ]
      },
      "SocketIssue": {
        "anyOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "gptSecurity"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "notes": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "confidence": {
                            "type": "number",
                            "description": "",
                            "default": 0
                          },
                          "severity": {
                            "type": "number",
                            "description": "",
                            "default": 0
                          }
                        },
                        "required": [
                          "confidence",
                          "notes",
                          "severity"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "gptAnomaly"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "notes": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "confidence": {
                            "type": "number",
                            "description": "",
                            "default": 0
                          },
                          "severity": {
                            "type": "number",
                            "description": "",
                            "default": 0
                          },
                          "risk": {
                            "type": "string",
                            "enum": [
                              "low",
                              "medium",
                              "high"
                            ],
                            "description": "",
                            "default": "medium"
                          }
                        },
                        "required": [
                          "confidence",
                          "notes",
                          "risk",
                          "severity"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "gptMalware"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "notes": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "confidence": {
                            "type": "number",
                            "description": "",
                            "default": 0
                          },
                          "severity": {
                            "type": "number",
                            "description": "",
                            "default": 0
                          }
                        },
                        "required": [
                          "confidence",
                          "notes",
                          "severity"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "filesystemAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "module": {
                            "type": "string",
                            "description": "",
                            "default": "fs"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "networkAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "module": {
                            "type": "string",
                            "description": "",
                            "default": "net"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "shellAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "module": {
                            "type": "string",
                            "description": "",
                            "default": "child_process"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "debugAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "module": {
                            "type": "string",
                            "description": "",
                            "default": "vm"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "chromePermission"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "permission": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "permissionType": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "permission",
                          "permissionType"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "chromeHostPermission"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "host": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "permissionType": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "host",
                          "permissionType"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "chromeWildcardHostPermission"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "host": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "permissionType": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "host",
                          "permissionType"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "chromeContentScript"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "scriptFile": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "matches": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "runAt": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "matches",
                          "runAt",
                          "scriptFile"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "criticalCVE"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "cveId": {
                            "type": "string",
[...]
