name: Publish Package to npm

on:
  workflow_dispatch:
    inputs:
      debug:
        description: 'Enable debug output'
        required: false
        default: '0'
        type: string
        options:
          - '0'
          - '1'
jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          cache: npm
          scope: '@socketsecurity'
      - run: npm install -g npm@latest
      - run: npm ci
      - run: INLINED_SOCKET_CLI_PUBLISHED_BUILD=1 npm run build:dist
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
      - run: INLINED_SOCKET_CLI_PUBLISHED_BUILD=1 INLINED_SOCKET_CLI_LEGACY_BUILD=1 npm run build:dist
        env:
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
      - run: INLINED_SOCKET_CLI_PUBLISHED_BUILD=1 INLINED_SOCKET_CLI_SENTRY_BUILD=1 npm run build:dist
        env:
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
