name: Publish to npm registry

on:
  workflow_dispatch:
    inputs:
      dist-tag:
        description: 'npm dist-tag (latest, next, beta, canary, backport, etc.)'
        required: false
        default: 'latest'
        type: string
      debug:
        description: 'Enable debug output'
        required: false
        default: '0'
        type: string
        options:
          - '0'
          - '1'
jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: SocketDev/socket-registry/.github/actions/setup@1543e937143cf84e5161ad18c04cbd99c8a4c6d8
        with:
          scope: '@socketsecurity'
      - run: pnpm install
      - run: INLINED_SOCKET_CLI_PUBLISHED_BUILD=1 pnpm run build:dist
      - run: pnpm publish --provenance --access public --no-git-checks --tag ${{ inputs.dist-tag }}
        continue-on-error: true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
      - run: INLINED_SOCKET_CLI_PUBLISHED_BUILD=1 INLINED_SOCKET_CLI_LEGACY_BUILD=1 pnpm run build:dist
        env:
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
      - run: pnpm publish --provenance --access public --no-git-checks --tag ${{ inputs.dist-tag }}
        continue-on-error: true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
      - run: INLINED_SOCKET_CLI_PUBLISHED_BUILD=1 INLINED_SOCKET_CLI_SENTRY_BUILD=1 pnpm run build:dist
        env:
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
      - run: pnpm publish --provenance --access public --no-git-checks --tag ${{ inputs.dist-tag }}
        continue-on-error: true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          SOCKET_CLI_DEBUG: ${{ inputs.debug }}
